<%= link_to 'Back', listings_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @listing.image.url(:medium) %>
			</div>

			<div class="panel-body">
				<p>
				  <strong>Address:</strong>
				  <%= @listing.address %>
				</p>

				<p>
				  <strong>Price:</strong>
				  <%= @listing.price %>
				</p>

				<p>
				  <strong>Description:</strong>
				  <%= @listing.description %>
				</p>
				<p>
					<strong>Realtor:</strong>
					<%= @listing.user.email %>
				</p>

				<% if @listing.user == current_user %>
					<%= link_to edit_listing_path(@listing) do %>
						<span class="glyphicon glyphicon-edit"></span>
        				Edit
					<% end %>
				<% end %>
			</div>

		</div>

	</div>

</div>